<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jassica.jassica">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/big"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.home.activity.HotBrandItemActivity"></activity>
        <activity android:name=".ui.me.activity.TimeZoneActivity" />
        <activity android:name=".ui.commodity.activity.ParticularsActivity" />
        <activity android:name=".ui.home.activity.ExchangeActivity" />
        <activity android:name=".ui.me.activity.NewShippingaddressActivity" />
        <activity android:name=".ui.main.activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="jp.app"
                    android:pathPrefix="/openwith"
                    android:scheme="jxk_taihaitao" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.me.activity.CouponActivity" />
        <activity android:name=".ui.me.activity.ReFundActivity" />
        <activity android:name=".ui.me.activity.ShippingaddressActivity" />
        <activity android:name=".ui.me.activity.OrderActivity" />
        <activity android:name=".ui.me.activity.PrivacyActivity" />
        <activity android:name=".ui.me.activity.AboutOsActivity" />
        <activity android:name=".ui.main.activity.WelcoomActivity" />
        <activity android:name=".ui.me.activity.HelpPolicyActivity" />
        <activity android:name=".ui.me.activity.HelpFlowActivity" />
        <activity android:name=".ui.me.activity.HelpRefundActivity" />
        <activity android:name=".ui.me.activity.HelpRelationActivity" />
        <activity android:name=".ui.me.activity.HelpCententActivity" />
        <activity android:name=".ui.home.activity.Main2Activity" />
        <activity android:name=".ui.home.activity.BannerShowActivity" />
        <activity android:name=".ui.main.activity.MainScanActivity" />
        <activity android:name=".ui.home.activity.SerachActivity" />
        <activity android:name=".ui.forget.activity.ForgetNextActivity" />
        <activity android:name=".ui.forget.activity.ForgetSubmitActivity" />
        <activity android:name=".ui.register.activity.RegisterBActivity" />
        <activity android:name=".ui.register.activity.RegisterAActivity" />
        <activity android:name=".ui.register.activity.BindingActivity" />
        <activity android:name=".ui.login.activity.LoginActivity" />
        <activity android:name=".ui.main.activity.MainActivity" android:theme="@style/AppMainTheme"/>
    </application>

</manifest>